#eh:hover{
    background-color: rgb(255, 0, 0);
}
#hh:hover{
    background-color: red;
}


#pm{
    color:whitesmoke;
    animation-name: pm;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes pm{
    from{
background-color: #f00909;
    }
    to{
background-color: green;
    }
}

#c1{

    text-align: center;
    background-attachment: fixed;
  color: rgb(24, 16, 16);
    /* background-image: url("../image/bg-pattern.jpg"); */
    background-image: url("../image/R.jpg");
    background-size: cover;


}