#ptexa{

    text-align: center;
    background-attachment: fixed;
  color: white;
    /* background-image: url("../image/bg-pattern.jpg"); */
    background-image: url("../image/bg3.jpg");
    background-size: cover;
    

}



